#top-bar
{
    z-index : 1;
    position: fixed;
    top: 0%;
    width: 100%;
    height: 60px;
    background: #395886;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#menu-icon
{
    background-color:white;
    background: none;
    border: 0;
    color: white;
    float: left;
    /* position: relative; */
    /* left: 0%; */
    top: 30%;
    margin-left: 10px;
    cursor: pointer;
}
#home-icon
{
    font-style: none;
    background: none;
    border: 0;
    color: white;
    /* position: relative; */
    /* float: right;
    top: 30%; */
    margin-right: 10px;
    margin-left: 5px;
}
#left-bar
{   
    display: none;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    overflow: hidden;
    position: fixed;
    width: 15%;
    height: 93%;
    background: linear-gradient( #3D6392, #689CCC );
    /* left: 0%; */
    top: 60px;
    z-index: 2;
}
.items
{
    background: linear-gradient(to right, #fdd017, #517eaf);
    border-radius: 7px;
    padding: 2vh 0;
    margin: 2vh 0;
}
#companyLogo
{
    background: none;
    margin-top: 17vh;
}
.tabText
{
    margin-left: 30px;
}
#selected-item
{
    background: rgb(217, 217, 217);
}
.menuSlideIn
{
    animation: menuSlideIn 1s ease;
    right: 85%;
    
}
.menuSlideOut
{
    animation: menuSlideOut 1s ease;
    right: 100%;
}
.iconSlideIn
{
    animation: iconSlideIn 1s ease;
    left: 11.7%;
}
.iconSlideOut
{
    animation: iconSlideOut 1s ease;
    left: 0;
}
.search-box {
    top: 30%;
    margin-left: 20px;
}
.search-txt{
    border:none;
    background: none;
    outline: none;
    padding: 0;
    color: white;
    font-size: 1em;
    transition: 0.4s;
}
#rightLogo
{
    width: 100px;
    height: auto;
}
.leftTopBar
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
#rightTopBar
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    cursor: pointer;
}
.centerTopBar{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    cursor: pointer;
    size: 5 px;
}
.items:hover{
    cursor: pointer;
}