@import "indexStyle.css";
@import "keyframes.css";

body
{
    /* background:  	rgb(232,232,232); */
    overflow-x: hidden;
}
a{
    color: white;
}
.title
{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    top: 20%;
    font-size: 3vw;
}
#top-bar
{
    z-index : 1;
    position: fixed;
    top: 0%;
    width: 100%;
    height: 60px;
    background: #395886;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#menu-icon
{
    background-color:white;
    background: none;
    border: 0;
    color: white;
    float: left;
    /* position: relative; */
    /* left: 0%; */
    top: 30%;
    margin-left: 10px;
    cursor: pointer;
}
#home-icon
{
    font-style: none;
    background: none;
    border: 0;
    color: white;
    /* position: relative; */
    /* float: right;
    top: 30%; */
    margin-right: 10px;
    margin-left: 5px;
}
#left-bar
{   
    /* display: none; */
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    overflow: hidden;
    position: fixed;
    width: 15%;
    height: 93%;
    background: linear-gradient( #3D6392, #689CCC );
    /* left: 0%; */
    top: 60px;
    z-index: 2;
}
.items
{
    background: linear-gradient(to right, #fdd017, #517eaf);
    border-radius: 7px;
    padding: 2vh 0;
    margin: 2vh 0;
}
#companyLogo
{
    background: none;
    margin-top: 17vh;
}
.tabText
{
    margin-left: 30px;
}
#selected-item
{
    background: rgb(217, 217, 217);
}
#section1
{

    position: absolute;
    /* top: 50%; */
    width: 100%;
    /* left: 0;
    right: 0; */
    /* top: 0;
    bottom: 0; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    vertical-align: middle;
    font-size: 1.5em;
}
.panel
{
    width : 20%;
    height: 20vh;
    position: relative;
    float: left;
    margin: 2% 2% 0% 0%;
    border-radius: 15px;
    background: url("../Images/toys.jpeg");
    background-size: 100%;

    /* background-size: 200%; */
}

.categoryPanel
{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    background: black;
    opacity: 0.7;
    font-size: 2vw;
    /* justify-content: center; */
}

.panel:hover
{
    animation: backZoom 1s ease;
    background-size: 150%;
}
.categoryPanel:hover
{
    /* animation: panelAppear 1s ease; */
    opacity: 0;
}
.menuSlideIn
{
    animation: menuSlideIn 1s ease;
    right: 85%;
    
}
.menuSlideOut
{
    animation: menuSlideOut 1s ease;
    right: 100%;
}
.iconSlideIn
{
    animation: iconSlideIn 1s ease;
    left: 11.7%;
}
.iconSlideOut
{
    animation: iconSlideOut 1s ease;
    left: 0;
}
.search-box {
    top: 30%;
    margin-left: 20px;
}
.search-txt{
    border:none;
    background: none;
    outline: none;
    padding: 0;
    color: white;
    font-size: 1em;
    transition: 0.4s;
}
#rightLogo
{
    width: 100px;
    height: auto;
}
.leftTopBar
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
#rightTopBar
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    cursor: pointer;
}
/* .rightTopBar:hover
{
    cursor: pointer;
} */
